The dataset is 'Participant-08'.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
P8_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Participant-08.csv", sep=",")
P8_data #There should be a variable to storage data read from the csv file.

                  Start             Finish  Steps (count)
0     01-Jan-2022 00:00  01-Jan-2022 01:00            0.0
1     01-Jan-2022 01:00  01-Jan-2022 02:00            0.0
2     01-Jan-2022 02:00  01-Jan-2022 03:00            0.0
3     01-Jan-2022 03:00  01-Jan-2022 04:00            0.0
4     01-Jan-2022 04:00  01-Jan-2022 05:00            0.0
...                 ...                ...            ...
6100  12-Sep-2022 03:00  12-Sep-2022 04:00            0.0
6101  12-Sep-2022 04:00  12-Sep-2022 05:00            0.0
6102  12-Sep-2022 05:00  12-Sep-2022 06:00           25.0
6103  12-Sep-2022 06:00  12-Sep-2022 07:00            0.0
6104  12-Sep-2022 07:00  12-Sep-2022 08:00          203.0

[6105 rows x 3 columns]

In [ ]:
P8_data = P8_data.dropna()
P8_data

                  Start             Finish  Steps (count)
0     01-Jan-2022 00:00  01-Jan-2022 01:00            0.0
1     01-Jan-2022 01:00  01-Jan-2022 02:00            0.0
2     01-Jan-2022 02:00  01-Jan-2022 03:00            0.0
3     01-Jan-2022 03:00  01-Jan-2022 04:00            0.0
4     01-Jan-2022 04:00  01-Jan-2022 05:00            0.0
...                 ...                ...            ...
6100  12-Sep-2022 03:00  12-Sep-2022 04:00            0.0
6101  12-Sep-2022 04:00  12-Sep-2022 05:00            0.0
6102  12-Sep-2022 05:00  12-Sep-2022 06:00           25.0
6103  12-Sep-2022 06:00  12-Sep-2022 07:00            0.0
6104  12-Sep-2022 07:00  12-Sep-2022 08:00          203.0

[6105 rows x 3 columns]

In [ ]:
Day = pd.Series([''])
Steps = pd.Series([''])
sumtable = pd.DataFrame({'Days' : Day , 'Steps' : Steps})